{% macro post(post,account) %}
    {%  import 'Macros/comment.twig' as comment %}
    <div class="post" style="width: 100%">
        <div class="row">
            <div class="col-md-12">
                <!-- Box Comment -->
                <div class="card card-widget">
                    <div class="card-header">
                        <div class=" col-md-11 user-block">
                            <img alt="User Image" class="img-circle" src={{ asset(post.account.getAvatarPath()) }}>
                            <span class="username"><a href="#">{{ post.account.getFullName }}</a></span>
                            <span class="description">{{ post.createdAt|ago }}</span>
                        </div>
                        <div class=" col-md-1 card-tools d-flex justify-content-end">
                            <button class="btn btn-tool" data-card-widget="remove" type="button">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="col-12">
                        <p>{{ post.text }}</p>
                            {% if post.photo %}
                                <img class="img-fluid pad" src="{{  asset(post.getPhotoPath()) }}" alt="Photo"
                                style="margin-bottom: 1rem; margin-right: 2rem">
                            {% endif %}
                        </div>
                        <div class="col-12">
                        <button class="btn btn-default btn-sm" type="button"><i class="far fa-thumbs-up"></i> Like
                        </button>
                            {% if account.adminRole is defined %}
                        <button class="btn btn-danger btn-sm" type="button"><i class="far fa-trash-alt"></i> Remove
                        </button>
                            {% endif %}
                        <span class="float-right text-muted px-2"  id = "comments-count_{{ post.id }}" > {{ post.comments| length}}  comments</span>
                            <span class="float-right text-muted px-2 ">{{ post.likes}} likes </span>

                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer card-comments comments_{{ post.id }}">
                        {% for comment in post.comments %}
                            {{ comment.comment(comment) }}
                        {% endfor %}
                    </div>
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <form action="{{ path('add_comment',{'id':post.id}) }}" method="post" class="comment-form"  data-post-id = "{{ post.id }}">
                            <img alt="Alt Text" class="img-fluid img-circle img-sm" src="{{ asset(account.getAvatarPath()) }}">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input class="form-control form-control-sm" placeholder="Press enter to post comment"  type="text" name="commentText">
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
{% endmacro %}