{% block sideMenu %}
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a class="brand-link" href="{{ path('home_page') }}">
            <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3" src="{{ asset('dist/img/AdminLTELogo.png') }}"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Masters Blog</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img alt="User Image" class="img-circle elevation-2" src="{{ asset('dist/img/user3-128x128.jpg') }}">
                </div>
                <div class="info">
                    <a class="d-block" href="profile.html">Elizabeth Pierce </a>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home_page') }}">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Home
                                <span class="right badge badge-danger">35</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('notification_page') }}">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Notification
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
{% endblock %}